@use 'sass:color';

$black: #000;
$grey: color.adjust($black, $lightness: 25%);
$white: #fff;
$primary: #16213e;
$secondary: #e0392b;

:export {
  black: $black;
  grey: $grey;
  white: $white;
  primary: $primary;
  secondary: $secondary;
}
