@use 'sass:color';

$black: #000;
$grey: #222;
$white: #fff;
$primary: #041226;
$secondary: #e0392b;

:export {
  black: $black;
  grey: $grey;
  white: $white;
  primary: $primary;
  secondary: $secondary;
}
