@use '~@newhighsco/chipset/styles/mixins/font';
@use '~styles/fonts.module';

$font-faces: (
  fonts.$termina-bold: (
    filename: 'termina/demi.woff2',
    font-weight: bold
  ),
  fonts.$termina-light: (
    filename: 'termina/light.woff2',
    font-weight: lighter
  ),
  fonts.$termina: (
    filename: 'termina/regular.woff2'
  )
);

@include font.font-faces($font-faces);

:export {
  urls: font.font-urls($font-faces);
}
