@use '~@newhighsco/chipset/styles/normalize';
@use '~styles/breakpoints.module';
@use '~styles/colors.module';
@use '~styles/font-faces.module';
@use '~styles/fonts.module';

:root {
  --primary: #{colors.$primary};
  --secondary: #{colors.$secondary};
  --border: #{colors.$grey};
  --header-height: 105px;

  color-scheme: only dark;
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--header-height);
}

body {
  background-color: colors.$black;
  color: colors.$white;
  font-size: 18px;
  line-height: 1.5;
  font-family: fonts.$body;
  font-weight: normal;
  min-width: breakpoints.$mobile;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}
