@use '~styles/fonts.module';

.root {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  font-family: fonts.$termina-bold;
  font-size: 2.5em;
  line-height: 1.1;
  text-transform: uppercase;

  small {
    font-family: fonts.$termina-light;
    font-size: 0.4em;
    letter-spacing: 0.75em;
    text-indent: 0.75em;
  }
}

.headline {
  font-size: 4.5em;
}
