@use '~styles/breakpoints.module';
@use '~styles/mixins';

.hero {
  @include mixins.mq(breakpoints.$desktop) {
    > * {
      flex-direction: row-reverse;
      justify-content: space-evenly;

      > * {
        flex-basis: 50%;
      }
    }
  }

  h1 {
    position: absolute;

    @include mixins.mq(breakpoints.$desktop) {
      position: unset;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
  }
}
