@use '~styles/colors.module';
@use '~styles/fonts.module';
@use '~styles/functions';

.root {
  background: var(--primary);
  font-family: fonts.$termina-bold;
  position: sticky;
  top: 0;
}

.content {
  padding-block: functions.spacing(3);
}

.logo {
  width: auto;
}

.links {
  flex-grow: 1;
  text-align: right;
  width: auto;
}

.link {
  text-transform: uppercase;

  &:hover,
  &:active,
  &.active,
  &:focus {
    text-decoration: underline var(--secondary);
  }
}
