@use '~styles/colors.module';
@use '~styles/fonts.module';
@use '~styles/functions';

.root {
  background: var(--primary);
  border-bottom: 1px solid var(--border);
  font-family: fonts.$termina-bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  padding-block: functions.spacing(3);
}

.columns {
  gap: functions.spacing(2);
  justify-content: space-between;

  & > * {
    width: auto;
  }
}

.link {
  text-transform: uppercase;

  &:hover,
  &:active,
  &.active,
  &:focus {
    text-decoration: functions.spacing(0.5) underline var(--secondary);
  }
}
