@use '~styles/colors.module';
@use '~styles/functions';

.root {
  background: colors.$fir;
  position: sticky;
  top: 0;
}

.content {
  padding-block: functions.spacing(2);
}

.logo {
  width: auto;
}

.links {
  flex-grow: 1;
  text-align: right;
  width: auto;
}

.link {
  text-transform: uppercase;

  &:hover,
  &:active,
  &.active,
  &:focus {
    text-decoration: underline colors.$gold;
  }
}
