@use '~styles/functions';

.root {
  background: var(--background-image, none) 50% 30% / cover;
  height: calc(100vh - var(--header-height, 0px));
  overflow: hidden;

  &:nth-child(even) {
    background-color: var(--primary);
  }
}

.content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
