@use '~styles/colors.module';
@use '~styles/functions';

.root {
  border-top: 1px solid var(--border);
}

.content {
  padding-block: functions.spacing(3);
}

.link {
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline var(--secondary);
  }
}

.icon {
  width: functions.spacing(4);
}

.iconLink {
  &:hover,
  &:active,
  &:focus {
    color: var(--secondary);
  }
}
