@use '~styles/colors.module';
@use '~styles/functions';

.root {
  border-top: 1px solid var(--border);
  font-size: medium;
}

.content {
  padding-block: functions.spacing(3);
}

.columns {
  gap: functions.spacing(1);
  justify-content: space-between;

  & > * {
    width: auto;
  }
}

.link {
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline var(--secondary);
  }
}

.icon {
  width: functions.spacing(3);
}

.iconLink {
  &:hover,
  &:active,
  &:focus {
    color: var(--secondary);
  }
}
